
.card-group {
    width: 65%;
    margin: 2rem auto;
    display: grid !important;
    grid-template: 
                'c1 c2'  
                'c3 c4';
    grid-gap: 2rem;
}

.card-group > .card {
    background: #2B3B23;
    cursor: pointer;
}

.card-group > .card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .4)
}

@media (max-width: 1200px) {
    .card-group  {
        grid-template: 'c1';
    }
}