.carousel {
    background: #b9e5d5;
}

.carousel img {
    width: 100%;
}

.carousel-fade .carousel-item,
.carousel-item .carousel-caption {
    left: 0;
    right: 0;
}

.carousel-item .carousel-caption {
    width: 100vw;
}

.carousel-item .carousel-caption h3 {
    font-size: 46px;
}

.carousel-item .carousel-caption p {
    font-size: 30px;
}

@media screen and (max-width: 800px){
    .carousel-item .carousel-caption h3 {
        font-size: 24px;
    }
    
    .carousel-item .carousel-caption p {
        font-size: 16px;
    }
}