.carousel {
    background: #b9e5d5;
}

.carousel img {
    width: 100%;
}

.carousel-fade .carousel-item,
.carousel-item .carousel-caption {
    left: 0;
    right: 0;
}

.carousel-item .carousel-caption {
    width: 100vw;
}