.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f5af5a;
  transform-origin: bottom right;
  transition: transform .6s ease-out;
  -webkit-transition: transform .6s ease-out;
  -moz-transition: transform .6s ease-out;
  -ms-transition: transform .6s ease-out;
  -o-transition: transform .6s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.animated {
	animation: 5s fadeInDown;
	-webkit-animation: 5s fadeInDown;
}

@-webkit-keyframes fadeInDown {
	0% {
    opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.isloading .carousel,
.isloading .resume-container,
.isloading .card-group,
.isloading .start-btn {
    opacity: 0;
}

.isloading .spinner {
  display: block;
}

.spinner {
  width: 80px;
  height: 80px;
  opacity: .8;
  animation: sk-rotateplane 2s infinite ease-in-out;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  margin-left: -40px;
  -webkit-animation: sk-rotateplane 2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  25% { -webkit-transform: perspective(120px) rotateY(180deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
  75% { -webkit-transform: perspective(120px) rotateY(270deg)  rotateX(270deg) }
  100% { -webkit-transform: perspective(120px) rotateY(360deg)  rotateX(360deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px);
    -webkit-transform: perspective(120px);
    -moz-transform: perspective(120px);
    -ms-transform: perspective(120px);
    -o-transform: perspective(120px);
  } 
  25% {
    transform: perspective(120px) rotateY(180deg);
    -webkit-transform: perspective(120px) rotateY(180deg);
    -moz-transform: perspective(120px) rotateY(180deg);
    -ms-transform: perspective(120px) rotateY(180deg);
    -o-transform: perspective(120px) rotateY(180deg);
  }
  50% {
    transform: perspective(120px) rotateX(180deg) rotateY(180deg);
    -webkit-transform: perspective(120px) rotateX(180deg) rotateY(180deg);
    -moz-transform: perspective(120px) rotateX(180deg) rotateY(180deg);
    -ms-transform: perspective(120px) rotateX(180deg) rotateY(180deg);
    -o-transform: perspective(120px) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: perspective(120px) rotateX(270deg) rotateY(270deg);
    -webkit-transform: perspective(120px) rotateX(270deg) rotateY(270deg);
    -moz-transform: perspective(120px) rotateX(270deg) rotateY(270deg);
    -ms-transform: perspective(120px) rotateX(270deg) rotateY(270deg);
    -o-transform: perspective(120px) rotateX(270deg) rotateY(270deg);
  }
  100% {
    transform: perspective(120px) rotateX(360deg) rotateY(360deg);
    -webkit-transform: perspective(120px) rotateX(360deg) rotateY(360deg);
    -moz-transform: perspective(120px) rotateX(360deg) rotateY(360deg);
    -ms-transform: perspective(120px) rotateX(360deg) rotateY(360deg);
    -o-transform: perspective(120px) rotateX(360deg) rotateY(360deg);
  }
}
::-webkit-scrollbar {
  width: .3rem;
  height: .4rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: rgb(231, 230, 224, .8);
  transition: all .2s;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}