@font-face {
    font-family: "HanyiSentyChalk";
    src: url(../public/fonts/HanyiSentyChalk.ttf);
}

* {
    font-family: 'HanyiSentyChalk';
    color: #FFF9E7;
    font-size: 20px;
    font-weight: bold;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 150vh;
    background: #2B3B23 !important;
}

a {
    text-decoration: none !important;
}
  
.m-t-2 {
    margin-top: 2rem;
}

.m-b-5 {
    margin-bottom: 5rem;
}

.c-yellow {
    color: #f5af5a;
}

.f-w-b {
    font-weight: bold;
}


